* {
    margin-top: 0px;
    margin-bottom: 0px;
}

html, body  {
   height: 100%;
}


#menu {
   /* height: 100px; */
    width:100%;
    background-color: #335086;
    /*float: left;*/
}

#menu>div {
    margin: 5px;
    display: inline-block;
}
img {
    vertical-align: middle;
}

#measure-counter {
    position: relative;
    width: 100%;
    height: 25px;   
}

#song-controls {
    background-color: #FFF;
}

#note-lengths div {
    display: inline-block;
    height: 45px;
    width: 40px;
    background: #FFF;
    border: outset;
}

#main {
    height: 85%;
    /*float: left;*/
    width: 100%;
    overflow-y: hidden;
   /* position: absolute; */
}

#piano-container {
    float: left;/* Make this div as wide as its contents */
    height: 100%;
    overflow: hidden;
}

#piano {
    position: relative;
    width: 150px;
    padding-bottom: 50px;
}


#grid-container {
    overflow: scroll;
    height: 100%;
}

#grid {
    position: relative;
    height: 1780px;
    width: 2000px;
}

#canvas-notes {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#canvas-grid {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#white-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
}

#black-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#a {
    background: orange;
    overflow: hidden;
    height: 1080px;
}

#b {
    position: relative;
    background: pink;
    height: 2080px;
    width: 150px;
}

#wigger {
    overflow: hidden;
    height: 100%;
    float: left;
}

#c {
    float: left;
    overflow: scroll;
    background: red;
    height: 1080px;
    width: 1000px;
}

#content
{
    height: 100%;
    overflow: auto;
    background: blue;
}
