@CHARSET "ISO-8859-1";

* {

}
body {

}


#main {
    margin-bottom: 150px;
}

#piano {
    width: 150px;
    height: 1780px;
    position: relative;
    display: inline-block;
}

#grid {
   /* border: 1px solid black;*/
    /*background-color: #c3e1eb; */
    display:  inline-block;
    height: 1780px;
}

#canvas-grid {
    
}

#white-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
}

#black-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

}


#sequencer {

}

#tempo {
    width: 25px;
}

#note-lengths button {
    
}

footer {
    position: fixed;
    height: 150px;
    width: 100%;
    bottom: 0;
    background-color: #335086;
    z-index: 2;
}   

div {

}
