@CHARSET "ISO-8859-1";

body {


}


#main {
    margin-bottom: 150px;
    height: 2080px;
}

#piano {
    position: relative;
    width: 100%;
}

#sequencer {
    height: 700px;
    overflow: scroll;
}

#white-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
}

#black-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

}

footer {
    position: fixed;
    height: 150px;
    width: 100%;
    bottom: 0;
    background-color: #B4CDCD;
 z-index: 2;
}

.poo {
        text-align: center;
}